In [1]:
import pandas as pd
import os
from datetime import datetime as dt




file_loc = 'C:\\Users\\mdpur\\OneDrive\\Documents\\MINT\\'

file_loc1 = 'C:\\Users\\mdpur\\OneDrive\\Documents\\MINT\\Budget Template.xlsx'


def combine_csv_files(file_loc):
    
    listofnames = [f for f in os.listdir(file_loc) if f.endswith('.csv')]
    
    for ea in listofnames:
        try:
            df = df.append(pd.read_csv(file_loc + ea))
        except:
            df = pd.read_csv(file_loc + ea)
    
    return df

df = combine_csv_files(file_loc+"Transactional Data\\")

In [2]:
df.columns

Index(['Date', 'Description', 'Original Description', 'Amount',
       'Transaction Type', 'Category', 'Account Name', 'Labels', 'Notes'],
      dtype='object')

In [3]:
df.columns = df.columns.str.replace(r"[ ]","_")

In [4]:
df.columns

Index(['Date', 'Description', 'Original_Description', 'Amount',
       'Transaction_Type', 'Category', 'Account_Name', 'Labels', 'Notes'],
      dtype='object')

In [5]:
x = df.Description=='Aroma Joes'
df[x]#displays values where description equals 'Aroma Joes'

,Date,Description,Original_Description,Amount,Transaction_Type,Category,Account_Name,Labels,Notes
66,9/25/2017,Aroma Joes,Aroma Joes,8.25,debit,Coffee Shops,Venture,NaN,NaN
67,7/31/2017,Aroma Joes,Aroma Joes,4.00,debit,Coffee Shops,Venture,NaN,NaN
68,7/4/2017,Aroma Joes,Aroma Joes,5.50,debit,Coffee Shops,Venture,NaN,NaN
69,8/1/2016,Aroma Joes,Aroma Joes,7.50,debit,Coffee Shops,Venture,NaN,NaN
191,6/12/2019,Aroma Joes,POS Transaction,8.63,debit,Coffee Shops,CHECKING,NaN,NaN
247,6/05/2019,Aroma Joes,POS Transaction,4.63,debit,Coffee Shops,CHECKING,NaN,NaN
305,5/28/2019,Aroma Joes,POS Transaction,6.00,debit,Coffee Shops,CHECKING,NaN,NaN
335,5/24/2019,Aroma Joes,POS Transaction,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
438,5/10/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,4.36,debit,Coffee Shops,CHECKING,NaN,NaN
471,5/06/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,4.36,debit,Coffee Shops,CHECKING,NaN,NaN
518,4/29/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - SOMERSWORTH...,4.36,debit,Coffee Shops,CHECKING,NaN,NaN
531,4/26/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,4.91,debit,Coffee Shops,CHECKING,NaN,NaN
568,4/22/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,8.72,debit,Coffee Shops,CHECKING,NaN,NaN
585,4/17/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,4.36,debit,Coffee Shops,CHECKING,NaN,NaN
602,4/15/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
641,4/10/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
653,4/08/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,5.45,debit,Coffee Shops,CHECKING,NaN,NaN
693,4/01/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
759,3/25/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
836,3/11/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - SOMERSWORTH...,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
843,3/11/2019,Aroma Joes,POS TransactionAROMA JOES - 67 FARMINGTON NHUS,4.36,debit,Coffee Shops,CHECKING,NaN,NaN
847,3/11/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.27,debit,Coffee Shops,CHECKING,NaN,NaN
870,3/06/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
940,2/27/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
986,2/22/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
1038,2/14/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
1101,2/01/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
1157,1/28/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.27,debit,Coffee Shops,CHECKING,NaN,NaN
1174,1/25/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
1201,1/22/2019,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7569,7/30/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,6.75,debit,Coffee Shops,CHECKING,NaN,NaN
7570,7/30/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,6.50,debit,Coffee Shops,CHECKING,NaN,NaN
7594,7/24/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,6.75,debit,Coffee Shops,CHECKING,NaN,NaN
7632,7/20/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.75,debit,Coffee Shops,CHECKING,NaN,NaN
7675,7/13/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,9.50,debit,Coffee Shops,CHECKING,NaN,NaN
7686,7/09/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,6.75,debit,Coffee Shops,CHECKING,NaN,NaN
7724,7/02/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,6.50,debit,Coffee Shops,CHECKING,NaN,NaN
7798,6/19/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,6.25,debit,Coffee Shops,CHECKING,NaN,NaN
7814,6/15/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,3.50,debit,Coffee Shops,CHECKING,NaN,NaN
7815,6/15/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,7.00,debit,Coffee Shops,CHECKING,NaN,NaN
7857,6/01/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,6.25,debit,Coffee Shops,CHECKING,NaN,NaN
7870,6/01/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,7.00,debit,Coffee Shops,CHECKING,NaN,NaN
7887,5/26/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,3.50,debit,Coffee Shops,CHECKING,NaN,NaN
7924,5/18/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - WEST OSSIPE...,3.50,debit,Coffee Shops,CHECKING,NaN,NaN
7980,5/04/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,7.00,debit,Coffee Shops,CHECKING,NaN,NaN
8031,4/20/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,6.25,debit,Coffee Shops,CHECKING,NaN,NaN
8041,4/16/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,7.00,debit,Coffee Shops,CHECKING,NaN,NaN
8144,3/23/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,6.25,debit,Coffee Shops,CHECKING,NaN,NaN
8166,3/18/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,2.75,debit,Coffee Shops,CHECKING,NaN,NaN
8191,3/10/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,6.25,debit,Coffee Shops,CHECKING,NaN,NaN
8244,3/02/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - SOMERSWORTH...,7.25,debit,Coffee Shops,CHECKING,NaN,NaN
8266,2/25/2015,Aroma Joes,Loan AdvanceAROMA JOES COFFEE - 6 DOVER NH,6.50,debit,Coffee Shops,STAR CIV VISA CLASS,NaN,NaN
8327,2/09/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,5.25,debit,Coffee Shops,CHECKING,NaN,NaN
8384,1/26/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,5.00,debit,Coffee Shops,CHECKING,NaN,NaN
8401,1/20/2015,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,5.00,debit,Coffee Shops,CHECKING,NaN,NaN
8553,12/15/2014,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,5.00,debit,Coffee Shops,CHECKING,NaN,NaN
8581,12/08/2014,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,5.00,debit,Coffee Shops,CHECKING,NaN,NaN
8583,12/08/2014,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,10.00,debit,Coffee Shops,CHECKING,NaN,NaN
8614,12/01/2014,Aroma Joes,POS TransactionAROMA JOES COFFEE - ROCHESTER NHUS,4.75,debit,Coffee Shops,CHECKING,NaN,NaN
8634,11/28/2014,Aroma Joes,POS TransactionAROMA JOES COFFEE - DOVER NHUS,3.00,debit,Coffee Shops,CHECKING,NaN,NaN

# df.loc[row, columns]

In [6]:
df.loc[[True, False, True], ['Description']]

       Description
0  NH Liquor Store
2  NH Liquor Store

In [7]:
df.loc[[3,]]

,Date,Description,Original_Description,Amount,Transaction_Type,Category,Account_Name,Labels,Notes
3,2/27/2017,NH Liquor Store,NH LIQUOR STORE #43,13.99,debit,Alcohol & Bars,Venture,NaN,NaN
3,7/09/2019,ONLINE payment-THANK YOU GA ATLANTA,ONLINE PYMT-THANK YOU GA ATLANTA,1319.61,credit,Transfer,XXXXXXXXXX0290,NaN,NaN

In [8]:
df.set_index('Description', inplace=True)

In [9]:
df.head(1)

,Date,Original_Description,Amount,Transaction_Type,Category,Account_Name,Labels,Notes
Description,,,,,,,,
NH Liquor Store,10/30/2017,NH LIQUOR STORE #38,17.94,debit,Alcohol & Bars,Venture,NaN,NaN

In [10]:
df.loc['Aroma Joes',].head(2)

,Date,Original_Description,Amount,Transaction_Type,Category,Account_Name,Labels,Notes
Description,,,,,,,,
Aroma Joes,9/25/2017,Aroma Joes,8.25,debit,Coffee Shops,Venture,NaN,NaN
Aroma Joes,7/31/2017,Aroma Joes,4.00,debit,Coffee Shops,Venture,NaN,NaN

In [11]:
df.reset_index(inplace=True)

In [12]:
df.set_index('Transaction_Type', inplace=True)

In [13]:
df.loc['credit'].head(10)

,Description,Date,Original_Description,Amount,Category,Account_Name,Labels,Notes
Transaction_Type,,,,,,,,
credit,Kohl's,11/6/2017,KOHL'S #1137,58.00,Clothing,Venture,NaN,NaN
credit,Kohl's,11/7/2016,KOHL'S #1137,34.99,Clothing,Venture,NaN,NaN
credit,Travel Reward,5/4/2017,CREDIT-TRAVEL REWARD,22.91,Credit Card Rewards,Venture,NaN,NaN
credit,Travel Reward,12/13/2016,CREDIT-TRAVEL REWARD,218.85,Credit Card Rewards,Venture,NaN,NaN
credit,Jd Howard Dental,11/17/2017,JD HOWARD DENTAL LLC,50.00,Dentist,Venture,NaN,NaN
credit,Wal-Mart,11/25/2016,WAL-MART #2330,29.49,Groceries,Venture,NaN,NaN
credit,Home Depot,11/7/2017,Home Depot,14.94,Home Supplies/Servic,Venture,NaN,NaN
credit,Lowes,9/21/2016,LOWES #02449*,84.98,Home Supplies/Servic,Venture,NaN,NaN
credit,TAYLOR RENTAL FARMINGTON,5/29/2017,TAYLOR RENTAL FARMINGTON,50.00,Home Supplies/Servic,Venture,NaN,NaN
credit,Bespoke Post,5/12/2017,BESPOKE POST,39.00,Shopping,Venture,NaN,NaN

In [14]:
df.set_index('Category', inplace=True)

In [15]:
df.loc['Home Supplies/Servic', ['Amount']].head()

                      Amount
Category
Home Supplies/Servic  175.00
Home Supplies/Servic  359.00
Home Supplies/Servic  180.00
Home Supplies/Servic  443.61
Home Supplies/Servic  780.41

In [18]:
df.reset_index(inplace=True)

In [19]:
df.loc[df.Category=='Groceries', 'like/notlike']='yes'
df.head()

,Category,Description,Date,Original_Description,Amount,Account_Name,Labels,Notes,like/notlike
0,Alcohol & Bars,NH Liquor Store,10/30/2017,NH LIQUOR STORE #38,17.94,Venture,NaN,NaN,NaN
1,Alcohol & Bars,NH Liquor Store,8/21/2017,NH LIQUOR STORE #43,24.99,Venture,NaN,NaN,NaN
2,Alcohol & Bars,NH Liquor Store,8/7/2017,NH LIQUOR STORE #43,24.99,Venture,NaN,NaN,NaN
3,Alcohol & Bars,NH Liquor Store,2/27/2017,NH LIQUOR STORE #43,13.99,Venture,NaN,NaN,NaN
4,Auto Insurance,Liberty Mutual,11/22/2017,LIBERTY MUTUAL RECUR,159.59,Venture,NaN,NaN,NaN

In [22]:
df.loc[(df.Category=='Coffee Shops') & (df.Description=='Aroma Joes'),'like/notlike']='yes'

In [24]:
df = df[df['like/notlike'].str.contains('yes', na=False)]

In [25]:
df.head()

,Category,Description,Date,Original_Description,Amount,Account_Name,Labels,Notes,like/notlike
66,Coffee Shops,Aroma Joes,9/25/2017,Aroma Joes,8.25,Venture,NaN,NaN,yes
67,Coffee Shops,Aroma Joes,7/31/2017,Aroma Joes,4.00,Venture,NaN,NaN,yes
68,Coffee Shops,Aroma Joes,7/4/2017,Aroma Joes,5.50,Venture,NaN,NaN,yes
69,Coffee Shops,Aroma Joes,8/1/2016,Aroma Joes,7.50,Venture,NaN,NaN,yes
205,Groceries,BJ's Wholesale Club,8/7/2017,BJ WHOLESALE #0062,113.92,Venture,NaN,NaN,yes